  body {
    background-color: #010101;  
  }
  .logo {
    color: #ffffff;
  }
  .button {
    color: #ffffff;
    background: rgba(99, 105, 110, 0.48);
  }
  .header-menu {
    background: #3181a6;
  }
  .header-menu-link {
    color: #010101;
    border-left: 1px solid #010101;
  }
  .header-menu-link:last-child {
    border-right: 1px solid #010101;
  }
  .header-menu-link:hover {
    background-color: #1d78a3;
  }
  .aside-menu {
    border: 1px solid #ffffff;
  }
  .aside-menu-link {
    color: #ffffff;
  }
  .aside-menu-link:hover {
    background: rgba(99, 105, 110, 0.48);
  }
  .main-image {
    background: rgba(99, 105, 110, 0.48);
    border: 1px solid #ffffff;
  }
  .description {
    color: #ffffff;
  }
  .footer-menu-link {
    color: #ffffff;
  }
  .copyright {
    color: #ffffff;
  }