  .logo {
    color: #000000;
  }
  .button {
    background: rgba(99, 105, 110, 0.48);
  }
  .header-menu {
    background: #35444f;
  }
  .header-menu-link {
    color: #ffffff;
    border-left: 1px solid #ffffff;
  }
  .header-menu-link:last-child {
    border-right: 1px solid #ffffff;
  }
  .header-menu-link:hover {
    background-color: #222f3a;
  }
  .aside-menu {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
  }
  .aside-menu-link {
    color: #495863;
  }
  .aside-menu-link:hover {
    background-color: #dbdbdb;
  }
  .main-image {
    border: 1px solid #000000;
  }
  .description {
    color: #2c2c2c;
  }
  .footer-menu-link {
    color: #0c1927;
  }
  .copyright {
    color: #010101;
  }