body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
}
header {
  padding-top: 64px;
  margin-bottom: 48px;
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.lightblue {
  color: #4bcaff;
}
.button {
  height: 50px;
  font-size: 18px;
  line-height: 24px;
  background: rgba(99, 105, 110, 0.48);
}
.button:hover {
  cursor: pointer;
}
.header-menu {
  margin-top: 40px;
  display: flex;
  height: 70px;
  background: #35444f;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-link {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 24px 40px 18px 40px;
}
.header-menu-link:last-child {
  border-right: 1px solid #ffffff;
}
.header-menu-link:hover {
  background-color: #222f3a;
}
main {
  display: flex;
  justify-content: space-between;
}
.aside-menu {
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside-menu-link {
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding: 26px 0 26px 44px;
}
.aside-menu-link:hover {
  background-color: #dbdbdb;
  padding-left: 80px;
}
.main-info {
  max-width: 885px;
}
.main-image {
  display: flex;
  height: 529px;
  border: 1px solid #000000;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.image {
  transition: transform 0.5s;
}
.image:hover {
  transform: scale(1.1);
}
.description {
  margin-top: 26px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
footer {
  display: flex;
  height: 68px;
  margin-top: 50px;
  margin-bottom: 30px;
  background: rgba(99, 105, 110, 0.48);
  justify-content: space-around;
  align-items: center;
}
.footer-menu {
  width: 875px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu-link {
  padding: 12px 0;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
